<h2>Saved spent time queries</h2>


<div style="width: 70%">
	
	<% if User.current.admin %>
	<p>
		<%= form_tag({}, {method: "get", id: "spent_time_form"}) do %>
			<%= check_box_tag :filter, "all", @filter == "all", :onclick => "this.form.submit();" %>
			<%= label_tag :filter, "Show all queries" %>		
	
		<% end %>
	</p>
	<% end %>
	
	<table class="list time-entries">
	<thead>
	  <tr>
		<th>Name</th>
		<th style="text-align: center">Public</th>
		<th style="text-align: center">Author</th>
		<th>&nbsp;&nbsp;&nbsp;</th>
	  </tr>
	</thead>
	<tbody>
	<% @queries.each do |query| %>
	  <tr>
	  	<td>
	  		<a href="<%= (query.query + '&v[query]=' + query.name) %>">
	  			<%= query.name %>
	  		</a>
	  	</td>
	  	<td align="center">
	  		<%= (query.is_public ? "Yes" : "No") %>
	  	</td>  	
		<td align="center">
			
			<% begin %>
			
	  		<%= link_to query.user.login, { :controller => 'people', :action => 'show', :id => query.user_id } %>
	  		
	  		<% rescue %>
	  		
	  		<%= link_to query.user.login, { :controller => 'users', :action => 'show', :id => query.user_id } %>
	  		
	  		<% end %>
	  	
	  	</td>  	
	 	<td align="center">
	 		
	 		<% if @project_id.nil? %>
	 		
	 		<%= link_to 'Delete', { :action => 'delete', :query_id => query[:id] }, :method => :delete %>
	 		
	 		<% else %>
	 		
	 		<%= link_to 'Delete', { :action => 'delete', :id =>@project_id, :query_id => query[:id] }, :method => :delete %>
	 		
	 		<% end %>
	 	</td>  	
	  </tr>
	<% end %>
	</tbody>
	</table>
<div>
